@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<!--
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<body>
    <div class="container center-block">
        <div class="row justify-content-center">
            <div class="row">
                <div class="text-center">
                    <h1 class="display-4">Te damos la bienvenida a:</h1>
                    <br>
                    <h3 class="display-4">TransitApp</h3>
                    <br>
                    <div class="card center" style="width: 50rem;">
                        <div class="card-body fs-1 text-justify">
                            <p class="card-text">TransitApp Es un aplicación web que está diseñada para dos tipos de
                                usuarios, por ende sí eres un agente de tránsito puedes realizar el registro de los
                                accidentes que debas atender, en caso de no serlo te permitirá en tiempo real conocer
                                sí has estado vinculado a un accidente vial. Además, de manera general podrás consultar
                                estadísticas relacionadas con los accidentes registrados.</p>
                        </div>
                    </div>
                    <br>
                    <!--
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkF6_Gsb33nH_84RBKJeZ7JrOo56JgpZTMdQ&usqp=CAU" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item active">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUwCz76a_GfH5ydvkeWgs8FKPJ3nF2U18Imw&usqp=CAU" class="d-block w-100" alt="Difumi">
                            </div>
                            <div class="carousel-item active">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkF6_Gsb33nH_84RBKJeZ7JrOo56JgpZTMdQ&usqp=CAU" class="d-block w-100" alt="Difumina">
                            </div>
                        </div>
                    </div>
                    -->
                    <img src="https://drive.google.com/file/d/17tRXVrwLaB_ATjssjh3vXwAKlxz5Dw_t/view?usp=sharing" alt="Nature" class="responsive">
                    <div class="container">
                        <img src="https://drive.google.com/file/d/17tRXVrwLaB_ATjssjh3vXwAKlxz5Dw_t/view?usp=sharing"
                            alt="Informativas" class="image">
                        <div class="overlay">Señales Informativas</div>
                    </div>
                    <div class="container">
                        <img src="https://drive.google.com/file/d/17tRXVrwLaB_ATjssjh3vXwAKlxz5Dw_t/view?usp=sharing"
                            alt="Informativas" style="width:100%;">
                        <div class="content">
                            <h1>Señales Informativas</h1>
                            <p>Son señales que nos informan aspectos relevantes del camino.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <img src="https://drive.google.com/file/d/17tRXVrwLaB_ATjssjh3vXwAKlxz5Dw_t/view?usp=sharing" alt="Snow" style="width:100%">
                        </div>
                        <div class="column">
                            <img src="img_forest.jpg" alt="Forest" style="width:100%">
                        </div>
                        <div class="column">
                            <img src="https://drive.google.com/file/d/17tRXVrwLaB_ATjssjh3vXwAKlxz5Dw_t/view?usp=sharing" alt="Mountains" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>