@page
@model AccidenteTransito.App.Frontend.Pages.AgenteTransitoModel
@{
    ViewData["Title"] = "Agentes de Tránsito";
}

<body>
    <div class="container center-block">
        <div class="row justify-content-center">
            <div class="row">
                <div class="text-center">
                    <h3 class="display-4">TransitApp</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-body">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Documento" aria-label="Search">
                            <button type="submit" class="btn btn-outline-success"
                            style="background-color: #19284C; color: white">
                                <i class="fas fa-search fa-lg"></i>
                            </button>
                        </form>
                    </div>
                </nav>
                <br>
                <h5 class="card-title">Agente de Tránsito</h5>
                <h6 class="card-subtitle mb-2 text-muted">En este panel podrás gestionar los datos de los
                    Agentes de Tránsito activos en el sistema.</h6>
                <div>
                    <form method="POST">
                        <div class="mb-3">
                            <label>Documento</label>
                            <input type="number" class="form-control" placeholder="12345" />
                            <small class="form-text text-muted">Ingrese el No. de Documento sin espacios ni caracteres
                                especiales.</small>
                        </div>
                        <div class="mb-3">
                            <label>Nombre</label>
                            <input class="form-control" placeholder="Pepita">
                        </div>
                        <div class="mb-3">
                            <label>Apellidos</label>
                            <input class="form-control" placeholder="Pérez Sosa">
                        </div>
                        <div class="mb-3">
                            <label>Edad</label>
                            <input type="number" class="form-control" placeholder="18">
                        </div>
                        <div class="form-group">
                            <label>Género</label>
                            <select class="form-control form-control-sm">
                                <option>Femenino</option>
                                <option>Masculino</option>
                                <option>LGBT</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Teléfono</label>
                            <input class="form-control" placeholder="987654">
                        </div>
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp"
                                placeholder="perezsosa@transito.co">
                            <div id="emailHelp" class="form-text">
                                <small class="form-text text-muted">Nunca compartas tu email con otra persona.
                                </small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Número de Placa</label>
                            <input type="number" class="form-control" placeholder="2021">
                        </div>
                        <div class="mb-3">
                            <label>Rango</label>
                            <input class="form-control" placeholder="Subteniente">
                        </div>
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-plus-square fa-lg" aria-hidden="true"></i>
                            Registrar Agente de Tránsito</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="card-title"> </h2>
            <h5 class="card-title justify-content-center">Agentes de Tránsito Registrados</h5>
            <div class="table-responsive">
                if ("Model.Agentes.Count"() > 0)
                {
                <table id="tblAgentes" class="table table-striped table-bordered" style="width: 100%;">
                    <thead class="thead" style="background-color: #19284C; color: white">
                        <tr>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().Id)</th>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().Documento)</th>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().Nombre)</th>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().Apellidos)</th>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().Edad)</th>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().Genero)</th>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().Telefono)</th>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().Email)</th>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().NumeroPlaca)</th>
                            <th>Html.DisplayNameFor(m => m.Agentes.FirstOrDefault().Rango)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        foreach ("var agente in Model.Agentes")
                        {
                        <tr>
                            <td>Html.DisplayFor(m => agente.Id)</td>
                            <td>Html.DisplayFor(m => agente.Documento)</td>
                            <td>Html.DisplayFor(m => agente.Nombre)</td>
                            <td>Html.DisplayFor(m => agente.Apellidos)</td>
                            <td>Html.DisplayFor(m => agente.Edad)</td>
                            <td>Html.DisplayFor(m => agente.Genero)</td>
                            <td>Html.DisplayFor(m => agente.Telefono)</td>-->
                            <td>Html.DisplayFor(m => agente.Email)</td>
                            <td>Html.DisplayFor(m => agente.NumeroPlaca)</td>-->
                            <td>Html.DisplayFor(m => agente.Rango)</td>
                            <td>
                                <a class="btn btn-info" asp-page="../Personas/DetalleAgente" asp-route-id="agente.Id">
                                    <i class="fas fa-info-circle fa-lg"></i>
                                    Detalle</a>
                                <a class="btn btn-warning" asp-page="../Personas/EditarAgente" asp-route-id="agente.Id"
                                    style="background-color: #FFA500; color: white">
                                    <i class="fas fa-edit fa-lg" aria-hidden="true"></i>
                                    Editar</a>
                                <a class="btn btn-danger" asp-page="../Personas/BorrarAgente" asp-route-id="agente.Id"
                                    style="background-color: #FF0000; color: white">
                                    <i class="fas fa-trash fa-lg" aria-hidden="true"></i>
                                    Eliminar</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                }
                else
                {
                <p>No hay Agentes de Tránsito registrados.</p>
                }
            </div>
        </div>
    </div>
    </div>
</body>