@page
@model AccidenteTransito.App.Frontend.Pages.DetalleModel
@{
    ViewData["Title"] = "Detalle de Accidente";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 style="color: #19284C;">Detalle de Accidente: Html.DisplayFor(m => m.Accidente.Id)</h2>
            <ul class="list-group">
                <li class="list-group-item">ID: Html.DisplayFor(m => m.Accidente.Id)</li>
                <li class="list-group-item">Dirección: Html.DisplayFor(m => m.Accidente.Direccion)</li>
                <li class="list-group-item">Latitud: Html.DisplayFor(m => m.Accidente.Latitud)</li>
                <li class="list-group-item">Longitud: Html.DisplayFor(m => m.Accidente.Longitud)</li>
                <li class="list-group-item">Barrio: Html.DisplayFor(m => m.Accidente.Barrio)</li>
                <li class="list-group-item">Fecha: Html.DisplayFor(m => m.Accidente.Fecha)</li>
                <li class="list-group-item">Hora: Html.DisplayFor(m => m.Accidente.Hora)</li>
                <li class="list-group-item">Tipo de Accidente: Html.DisplayFor(m => m.Accidente.TipoAccidente)</li>
                <li class="list-group-item">Agente de Tránsito: Html.DisplayFor(m => m.Accidente.AgenteTransito.Nombre)
                </li>
                <li class="list-group-item">Usuario: Html.DisplayFor(m => m.Accidente.Involucrado.Nombre)</li>
                <li class="list-group-item">Vehículo: Html.DisplayFor(m => m.Accidente.Vehiculo.Placa)</li>
                <li class="list-group-item">Descripción: Html.DisplayFor(m => m.Accidente.Descripcion)</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a asp-page="Accidente" class="btn btn-success" style="background-color: #19284C; color: white">Volver</a>
        </div>
    </div>
</div>