@page
@model AccidenteTransito.App.Frontend.Pages.EditarModel
@{
    ViewData["Title"] = "Editar Accidente";
}

<body>
    <div class="container center-block">
        <div class="row justify-content-center">
            <div class="row">
                <div class="text-center">
                    <h3 class="display-4">TransitApp</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container center-block"></div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">Accidentes</h5>
                <h6 class="card-subtitle mb-2 text-muted">En este panel podrás editar los datos del
                    Accidente seleccionado.</h6>
                <div>
                    <form method="POST">

                        <input type="hidden" asp-for="@Model.Accidente.Id"/>

                        <div class="mb-3">
                            <label asp-for="Accidente.Direccion">Dirección</label>
                            <input asp-for="Accidente.Direccion" class="form-control" placeholder="Calle 1 #13-00"/>
                        </div>
                        <div class="mb-3">
                            <label>Latitud</label>
                            <input asp-for="Accidente.Latitud" class="form-control" placeholder="5,49495">
                        </div>
                        <div class="mb-3">
                            <label>Longitud</label>
                            <input asp-for="Accidente.Longitud" class="form-control" placeholder="5,49495">
                        </div>
                        <div class="mb-3">
                            <label>Barrio</label>
                            <input asp-for="Accidente.Barrio" class="form-control" placeholder="La Cabaña">
                        </div>
                        <div class="mb-3">
                            <label>Fecha</label>
                            <input type="date" asp-for="Accidente.Fecha" class="form-control" placeholder="25/09/2021">
                        </div>
                        <div class="mb-3">
                            <label>Hora</label>
                            <input type="time" asp-for="Accidente.Hora" class="form-control" placeholder="10:00">
                        </div>
                        <div class="form-group">
                            <label>Tipo de Accidente</label>
                            <select class="form-control form-control-sm">
                                <option>Choque</option>
                                <option>Atropello</option>
                                <option>Volcamiento</option>
                                <option>Caída del ocupante</option>
                                <option>Caída de objeto</option>
                                <option>Incendio</option>
                                <option>Derrumbe</option>
                                <option>Inundación</option>
                                <option>Otro</option>
                            </select>
                        </div>

                        <!-- Aquí la lista de Agentes de  Tránsito-->
                        <div class="mb-3">
                            <label class="form-label">Agentes de Tránsito</label>
                            <select class="form-control">
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <!-- Aquí la lista de Involucrados-->
                        <div class="mb-3">
                            <label class="form-label">Usuarios</label>
                            <select class="form-control">
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <!-- Aquí la lista de Vehículos-->
                        <div class="mb-3">
                            <label class="form-label">Vehículos</label>
                            <select  class="form-control">
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label>Descripción</label>
                            <textarea asp-for="Accidente.Descripcion" class="form-control" rows="3"
                                placeholder="Realiza una breve descripción de lo sucedido."></textarea>
                        </div>
                        <button type="submit" class="btn btn-warning" style="background-color: #FFA500; color: white">
                            <i class="fas fa-edit fa-lg" aria-hidden="true"></i>
                            Editar Accidente</button>
                        <a asp-page="Accidente" class="btn btn-success"
                            style="background-color: #19284C; color: white">Volver</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>