@page
@model AccidenteTransito.App.Frontend.Pages.ListModel
@{
    ViewData["Title"] = "Accidentes";
}
<div class="text-center">
    <h1 class="display-4">Accidentes</h1>
    <p>Hola!!!!!</a>.</p>
</div>